.ReserveComplete{
    display: flex;
    flex-direction: column-reverse;
    font-size: 16px;
    margin-bottom: 30px;
    width: 100%;
}

.ReserveComplete span{
    display: block;
}

.ReserveComplete h4{
    align-items: center;
    box-shadow: #a7a7a7 0px -1px 0px inset;
    display: flex;
    font-size: var(--text-size-lg);
    font-weight: 500;
    height: 43px;
    margin: 10px 0;
}

.ReserveComplete-data-user div, .ReserveComplete-data-reserve div {
    margin-bottom: 12px;
}

.ReserveComplete-data-user h2{
    font-size: var(--text-size-lg-plus);
    font-weight: bold;
    margin-top: 35px;
}

.ReserveComplete-title {
    font-weight: 400;
    font-size: var(--text-size-lg);
}

.ReserveComplete-data{
    font-size: var(--text-size-lg);
    margin-top: 2px;
}

.ReserveComplete-reserve-container .code {
    font-weight: 500;
    margin-top: 5px;
}

@media only screen and (min-width: 650px) {
    .ReserveComplete{
        flex-direction: row;
    }
    .ReserveComplete-user-container {
        margin-right: 25px;
    }
}